In [2]:
english = int(input("Enter Your English Marks "))
urdu = int(input("Enter Your Urdu Marks "))
islamiat = int(input("Enter Your Islamiat Marks "))
bio = int(input("Enter Your Bio Marks "))
math = int(input("Enter Your math Marks "))
total = (english + urdu + islamiat + bio + math)
per = (total * 100 / 425)
print(per)
if per >= 80 and per <100:
    print("Your Grade is 'A+' ")
elif per >= 70 and per <80 :
    print("Your Grade is 'A' ")
elif per >= 60 and per <70:
    print("Your Grade is 'B' ")
elif per >= 50 and per <60:
    print("Your Grade is 'C' ")
elif per >= 40 and per <50:
    print("Your Grade is 'D' ")
elif per >= 0 and per <40:
    print("Sorry ! You Are Fail ")
else :
    print("You have Entered Incorrect Marks")

Enter Your English Marks 45
Enter Your Urdu Marks 60
Enter Your Islamiat Marks 88
Enter Your Bio Marks 50
Enter Your math Marks 44
67.52941176470588
Your Grade is 'B'

In [3]:
a = int(input("Enter a number :"))
if a%2==0:
  print(a,"is Even")
else:
    print(a,"is odd")

Enter a number :50
50 is Even

In [4]:
array = [10,20,30,40,50,"bilal","shakeel"]
len(array)

7

In [5]:
mylist = [1,2,3,4,5,]
total = sum(mylist)
print(total)

15

In [7]:
a = []
n = int(input("Enter a number of elements : "))
for i in range(1,n+1):
    b = int(input("enter element : "))
    a.append(b)
a.sort()
print("Largest element is : ",a[n-1])

Enter a number of elements : 5
enter element : 10
enter element : 43
enter element : 56
enter element : 70
enter element : 33
Largest element is :  70

In [8]:
array = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
array[0:5]

[1, 1, 2, 3, 5]